window {
margin: 5px;
border: 2px solid #ff79c6;
border-radius: 10px;
background-color: #282a36;
}

#input {
margin: 5px;
border: 2px solid #8be9fd;
background-color: #44475a;
color: #6272a4;
}

#inner-box {
margin: 5px;
background-color: #282a36;
border-radius: 10px;
}

#outer-box {
margin: 5px;
}

#text {
margin: 5px;
color: #f8f8f2;
} 

#entry:selected {
background-color: #6272a4;
color: #ff5555;
transition: 1s;
} 
